.all__header__nav {
  flex-direction: row;
  justify-content: space-between;
  width: 58px;
}

.all__games {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -10px;
}

.all__game {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 300px;
  height: 354px;
  display: flex;
  flex-shrink: 0;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.all__game__img {
  height: 140px;
  object-fit: cover;
}

.all__game__info {
  padding: 16px 20px;
}

.all__game__description {
  max-height: 92px;
  margin-top: 8px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.72);
}

.all__game__footer {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: auto 20px 0 20px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.all__game__info__btn_redeem {
  margin-right: 10px;
  height: auto;
}

.all__game__status {
  margin-right: auto;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.72);
}

.all__progress-bar {
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 2px;
}

.all__game__info__btn_redeem__toolpit {
  top: -44px;
}
