.home {
  width: 940px;
  z-index: 1;
  flex-direction: column;
  margin: 40px auto 0;
}

.home__logo {
  height: 86px;
  object-fit: cover;
  margin-bottom: 40px;
}

.home__featured-pager {
  margin: 0 0 40px;
}

.home__last-update, .home__all-games {
  margin-bottom: 40px;
}
